
body {
  background-color: #262525;
}

.taskCompiler {
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: aqua
}

.horizontalLine {
  border-color: aqua;
}

.taskForm {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  position: relative;
  
}

.taskInput {
  position: relative;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: .5rem .5rem .5rem .5rem;
  border: 2px solid aqua;
  background: transparent;
  width: 70vw;
  color: aqua;
  font-family: 'Play', sans-serif;
  font-weight: 400;
}

::placeholder {
  color:azure;
  font-family: 'Play', sans-serif;
  font-weight: 400;
}

/* .taskButton {
  margin: auto;
  margin-top: 3px;
  background: transparent;
  border: 2px solid aqua;
  color: aqua;
  padding: .5rem .5rem .5rem .5rem;
  font-family: 'Play', sans-serif;
  font-weight: 400;
} */

.taskInputUpdate {
  position: relative;
  margin: auto;
  margin-top: 10px;
  padding: .5rem .5rem .5rem .5rem;
  border: 2px solid aqua;
  background: transparent;
  width: 70vw;
  color: aqua;
  font-family: 'Play', sans-serif;
  font-weight: 400;
}

/* .taskButtonUpdate {
  margin: auto;
  margin-top: 10px;
  background: transparent;
  border: 2px solid aqua;
  color: aqua;
  padding: .5rem .5rem .5rem .5rem;
  font-family: 'Play', sans-serif;
  font-weight: 400;
} */

.taskRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  padding: .3rem .5rem .3rem .5rem;
  border: 2px solid aqua;
  background: transparent;
  width: 70vw;
  color: aqua;
  cursor: pointer;
  font-family: 'Play', sans-serif;
  font-weight: 400;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.editIcon {
 margin-right: 7px;
  color: aqua;
}

.removeIcon {
  color: aqua;
}




